<section>
  <div class="breadcroumb-area bread-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcroumb-title text-center">
            <h1>About Us</h1>
            <h6><a routerLink="" class="">Home</a> / About Us</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-white">
  <div class="about-area section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="about-img-wrap">
            <div class="image-one">
              <img src="assets\images\about-page-2.webp" alt="" />
            </div>
            <div class="image-two">
              <img src="assets\images\about-page-1.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 pt-5 pt-lg-0">
          <div class="info-content-area">
            <div class="section-title">
              <h6>ABOUT US</h6>
              <h2>We're leading Industrial Solution</h2>
            </div>
            <p>
              Ocean Sustainability Corporation LLC is established with an
              objective to provide reliable and cost effective Vendor /OEM’s
              solution by performing initial feasibility studies, concept
              design, basic engineering for the Clients / Operators of the
              Plants / Refineries, Petrochemicals Industries.
            </p>
            <p>
              Ocean Sustainability Corporation LLC solutions are based on state
              of the art products / Packages offered through well renowned
              Companies. Solutions are provided with full understanding of
              Conceptual and Front End Engineering Design (FEED) of the
              projects.
            </p>
            <div class="row founded">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="years">
                  <span>{{ yearsOfWork }}</span
                  >Year of Success
                </div>
              </div>
              <div class="col-lg-8 col-md-6 col-12">
                <div class="text">
                  We have diversified 25+ experience & still growing day by day!
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light-gray">
  <div id="about-3" class="about-area section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="info-content-area">
            <div class="section-title">
              <h6>Let's to Know Us</h6>
              <h2>We built dream business strategy for industries</h2>
            </div>
            <div class="row">
              <div class="col-lg-11">
                <div class="about-list-item">
                  <p class="highlight">
                    Ocean Sustainability Corp. is basically established with the
                    theme of Low Cost Design & Products based Solution.
                  </p>
                  <p class="highlight">
                    For this purpose experts of various disciplines having
                    specialize and vast experience in relevant field are working
                    as disciplines leads within Ocean Sustainability Corp.
                  </p>
                  <p class="highlight">
                    The approach of Low Cost Design provides Client a customized
                    package / Modular Vendor based solution for their ongoing
                    projects.
                  </p>
                  <p class="highlight">
                    Introduction of reliable and cost effective products /
                    packages / Modules provides low installation cost as well as
                    minimize the site construction works.
                  </p>
                  <p class="highlight">
                    Customer’s satisfaction is the driving force behind the
                    spirit to meet challenges and reach the excellence in
                    whatever job Ocean Sustainability Corp. undertakes.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-lg-11">
              <div class="progress-bar-area">
                <div class="single-bar-item">
                  <h4>Industrial</h4>
                  <div id="bar1" class="barfiller">
                    <span
                      class="tip"
                      style="left: 445.4px; transition: left 5s ease-in-out 0s"
                      >90%</span
                    ><span
                      class="fill"
                      data-percentage="90"
                      style="
                        background: rgb(255, 216, 87);
                        width: 473.4px;
                        transition: width 5s ease-in-out 0s;
                      "
                    ></span>
                  </div>
                </div>
                <div class="single-bar-item">
                  <h4>Construction</h4>
                  <div id="bar3" class="barfiller">
                    <span
                      class="tip"
                      style="left: 392.8px; transition: left 7s ease-in-out 0s"
                      >80%</span
                    ><span
                      class="fill"
                      data-percentage="80"
                      style="
                        background: rgb(255, 216, 87);
                        width: 420.8px;
                        transition: width 7s ease-in-out 0s;
                      "
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="row pt-5">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="choose-certify">
                <i class="bi bi-clipboard-check"></i>
                <h5>Certified Company</h5>
                <!-- <p>
                  Behold Lorem ipsum dolor sit, amet consectetur adipisicing
                  elit.
                </p> -->
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="choose-certify">
                <i class="bi bi-award"></i>
                <h5>Experience Employee</h5>
                <!-- <p>
                  Behold Lorem ipsum dolor sit, amet consectetur adipisicing
                  elit.
                </p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-lg-end">
          <div class="about-bg">
            <img src="assets\images\industry-worker.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="process-area section-padding">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8 text-center">
          <div class="section-title">
            <h6>Our Process</h6>
            <h2>How We Works</h2>
          </div>
        </div>
      </div>
      <div class="row process-item-wrap">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-process-item">
            <div class="process-num"><p>01</p></div>
            <div class="process-icon">
              <img src="assets\icons\notebook.png" alt="icon" />
            </div>
            <div class="process-content">
              <h5>Concept Planning</h5>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-process-item">
            <div class="process-num"><p>02</p></div>
            <div class="process-icon">
              <img src="assets\icons\cost.png" alt="icon" />
            </div>
            <div class="process-content">
              <h5>Budget Calculed</h5>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-process-item">
            <div class="process-num"><p>03</p></div>
            <div class="process-icon">
              <img src="assets\icons\supervisor.png" alt="icon" />
            </div>
            <div class="process-content">
              <h5>Supervision</h5>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="single-process-item">
            <div class="process-num"><p>04</p></div>
            <div class="process-icon">
              <img src="assets\icons\project.png" alt="icon" />
            </div>
            <div class="process-content">
              <h5>Project Finalize</h5>
              <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
